on: 
  push:
  watch: 
    types: [ started ]

jobs:
  test-secret:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: setup-python
      uses: actions/setup-python@master
      with: 
        python-version: 3.7

    - name: test-secret
      env:
        USER: ${{ secrets.USER }}
      run: |
        echo ${#USER[0]}
        echo -e ${USER}
        echo ${#USER}
        for u in ${USER[*]}
        do
          echo ${#u}
        done
        python3 main.py
        bash main.sh
        
        PASS="username1\npassword2"
        echo -e ${PASS}
        for u in ${PASS[*]}
        do
          echo ${#u}
        done


